*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif; 
}

body{
    min-height: 100vh;
    background-color: #0b0c10;
background-size: cover;
background-position: center;
}



.main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    background-color: #1F2833;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

i{
    color: #c5c6c7;
    padding-right: 1px;
}

.navbar a {
    color: #c5c6c7;
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 23px;
    padding-bottom: 20px;

}

.navbar a:hover{
    background-color:  #45a29d91 ;
    border-radius: 10px;
    transition: 0.4s;
    padding: 8px;
    color:#c5c6c7 ;
}

.navbar .hakkimda{
    visibility: hidden;
    position: absolute;
    top: calc(100% + 10px); 
    background-color: #45a29d91; 
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: -6px;
    transition: 0.1s;
    margin-left: -110px;
}

.navbar .Sehrim {
    visibility: hidden;
    position: absolute;
    top: calc(100% + 10px); 
    margin-left: 90px;
    background-color: #45a29d91; 
    padding: 15px 15px;
    border-radius: 10px;
    margin-top: -6px;
    transition: 0.1s;
}

.navbar .hakkimda:hover {
    visibility: visible;
}

.navbar .Sehrim:hover {
    visibility: visible;
}

.hover:hover + .hakkimda{
    visibility: visible;
}
.hover:hover + .Sehrim{
    visibility: visible;
}

.Hosgeldiniz{
    color: #c5c6c7;
    text-align: center;
    padding:260px;
}

button{
    background-color: #45a29d91;
    color: #0b0c10 ;
    height: 31px;
    width: 120px;
    font-size: medium;

}



